    * {
            margin: 0px;
            padding: 0;
            box-sizing: border-box;
            background: rgb(211, 211, 211);
        }

        .menu-area a {
            
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            color: #fff;
            background: black;
            height: 50px;
            text-decoration: none;
        }

        .menu-area a:hover {
            background: #089090 ;
            color: #fff;

        }

        .menu-area ul {
            
            list-style: none;
            display: flex;
            
        }

        .menu-area li {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .menu-area li:hover .dropdown-1>li {
            top: 0;
            display: block;
        }

        .dropdown-1 li {
            display: none;
            position: relative;
        }

        .dropdown-1 {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .dropdown-1 li:hover {
            display: block;
        }

     
        aside{
            float: left;
            width: 30%;
            background-color: rgb(211, 211, 211);
            color: rgb(211, 211, 211);
        }
        section{
            float: left;
            width: 70%;
            background-color: rgb(211, 211, 211);
        }
        
        footer{
            background-color: black;
            color: rgb(211, 211, 211);
            padding: 10px;
        }
    .Contenedor::after{
        content: "";
        display: block;
        clear: both;
    }
    