header{
    background-color: dimgray;
    padding: 20px;
}
    nav{
        background-color: black;
        color: blanchedalmond;
        padding: 10px;
    }
    aside{
        float: left;
        width: 30%;
        background-color: slategrey;
        color: blanchedalmond;
    }
    section{
        float: left;
        width: 70%;
        background-color: blueviolet;
    }
    
    footer{
        background-color: black;
        color: blanchedalmond;
        padding: 10px;
    }
.Contenedor::after{
    content: "";
    display: block;
    clear: both;
}